{% extends "base.html" %} 
{% load static %} 
{% load widget_tweaks %} 
{% block title %} Place Order | Zobo Shop {% endblock title %} 
{% block content %}
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container px-5">
    <a class="navbar-brand text-white" href="">Zobo Shop</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#!">
            {{user.username}}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white bg-outline-light"
            href="{% url 'logout' %}"
            >Logout</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- Pricing section-->
<section class="bg-light py-5 border-bottom" id="services">
  <div class="container px-5 my-2">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-12 col-xl-6">
        <div class="card mb-5 mb-xl-0">
          <div class="card-body p-5">
            <div class="col text-center justify-content-center">
              <div class="mb-5">
                {% if item_amount == 1 %}
                <p>
                  You are ordering for {{ item_amount }} bottle of Sobolo.
                  <br />
                  Your Charge is {{ total_cost }} GHS.
                </p>
                {% else %}
                <p>
                  You are ordering for {{ item_amount }} bottles of Sobolo.
                  <br />
                  Your Charge is {{ total_cost }} GHS.
                </p>
                {% endif %}
              </div>
              <br />
              <button
                onclick="payWithPaystack()"
                class="btn btn-outline-danger"
              >
                Proceed to Payment
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function payWithPaystack() {
    let currency = "GHS";
    let plan = "";
    let ref = "{{payment.ref}}";
    let amount = "{{payment.amount}}";
    let obj = {
      key: "{{paystack_public_key}}",
      email: "{{payment.email}}",
      amount: "{{amount_value}}",
      ref: ref,
      callback: function (response) {
        window.location.href = "{% url 'verify_payment' payment.ref  %}";
      },
    };
    if (Boolean(currency)) {
      obj.currency = currency.toUpperCase();
    }
    if (Boolean(plan)) {
      obj.plan = plan;
    }
    var handler = PaystackPop.setup(obj);
    handler.openIframe();
  }
</script>
<script src="https://js.paystack.co/v1/inline.js"></script>
{% endblock content %}
